h1 {
    color: cadetblue;
}

h3 {
    color: cadetblue;
}

h4 {
    color: cadetblue;
}

body {
    background-color:aliceblue;
    margin: 0%;
}

p {
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color:crimson;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    text-decoration: underline; 
}

.button-achor {
    color:crimson;

}

.maintext {
    width: 75%;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    /* padding-bottom: 4px;
    border-radius: 2px; */
}

.left-title {
    display: flex;
    justify-content: left;
    /* background-color:rgb(39, 180, 180); */
    padding: 8px;
}

.title-no-colour {
    display: flex;
    justify-content: center;
    /* background-color:rgb(39, 180, 180);
    padding-bottom: 4px; */
}

#title-link {
    text-decoration: none;
}

#title-link :hover {
    text-decoration: none;
}